
html{
    background: #888;
}

body{
    text-align: center;
}

nav.menu-nav ul li.bouton{ 
    display: inline-block;
    list-style-type: none;
}

nav.menu-nav ul li.bouton a{
    text-decoration: none;
    color: rgb(0, 180, 255);
    background-color: #777;
    padding: 18px;
    padding-left: 50px;
    padding-right: 50px;
    
}

nav.menu-nav ul li.bouton:hover a{
    text-decoration: none;
    color: rgb(0, 76, 109);
    padding-bottom: 55px;
    transition: 0.3s all;
    
}