@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

.home-container {
    min-height: 100vh;
    background: rgb(2, 0, 37);
    background-size: cover;
}

.header {
    position: absolute;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    padding: 0 50px;
}

.logo {
    margin-top: 50px;
    width: 180px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 40px;
    overflow: hidden;
}

.nav-links a {
    font-size: 15px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    position: relative;
    display: block;
    transition: transform 0.4s;
}

.nav-links a::before {
    content: attr(data-text);
    position: absolute;
    top: 100%;
}

.nav-links a:hover {
    transform: translateY(-100%);
}

.middle {
    line-height: 80px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
}

.big-title {
    width: relative;
    text-align: center;
    color: rgb(0, 195, 255);
    font-size: 80px;
    font-family: "Abril Fatface", cursive;
    font-weight: 100;
}

.body {
    background-color: cyan;
}

.connect {
    text-align: center;
    padding: 20px;
    margin: 10px;
}

.ip-mc {
    font-size: 100px;
}

.ver-mc {
    font-size: 50px;
}

.footer {
    min-height: 100px;
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: space-between;
    padding: 0 100px;
    flex-wrap: wrap;
    background-color: red;
}

.copyrights {
    padding-right: 20px;
}

.conditions {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

@media (max-width: 1150px) {

    .header {
        justify-content: space-between;
    }

    .nav-links {
        position: absolute;
        width: 100%;
        height: 50vh;
        background: white;
        left: 0;
        top: -50vh;
        transition: top 0.4s ease-in-out;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 0 50px;
    }

    .nav-links.active {
        top: 0;
    }

    .nav-links li {
        margin: 0;
    }

    .nav-links a {
        color: black;
        font-size: 30px;
    }

@media (max-width: 550px) {

    .logo {
        width: 100px;
    }

    .landing,
    .header,
    .dis-container,
    .footer {
        padding: 0 7%;
    }

    .header {
        height: 100px;
    }

    .big-title {
        font-size: 50px;
        line-height: 50px;
    }

    .nav-links a {
        font-size: 20px;
    }

}

@media (max-width: 400px) {

    .footer {
        justify-content: center;
    }
}

